body{
 background:url("new.jpg") center no-repeat;
 height:100vh;
 background-size:cover;
 colour :white;
 font-weight:bold;
}

.menudropdown1{
width:80%;
height:100px;
margin:10px auto;

}

.menudropdown1 ul{
 padding:0px;
}

.menudropdown1 ul li{
 float:left;
 background-color:black;
 color:white;
 width:200px;
 height:50px;
 line-height:50px;
 font-size:25px;
 text-align:center;
 list-style:none;
 opacity:0.6;
}

.menudropdown1 ul li ul{
 display:none;
}

.menudropdown1 ul li:hover > ul{
 display:block;
}

.menudropdown1 ul li:hover{
 background-color:#32CD32;
 opacity:0.9;
}

.menudropdown1 ul li ul li{
 position:relative;
}

.menudropdown1 ul li ul li ul{
 position:absolute;
 left:200px;
 top:0px;
}
div ul li a{
	text-decoration: none;
	color: white;
}
ul li{
	margin: 1px;
}