html, body
{
	background-color: white;
	background-size: cover;
	display: flex;
	
	
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: times new roman;
}
form
{
	display: inline;
}
input[type="file"]
{
	margin-left: 50px;
}
.name
{
	color: darkblue;
	font-family: times new roman;
	text-align: center;
	margin-bottom: 2px;
	font-style: italic;
}
.marquee
{
	border: 3px groove darkblue;
	margin-right: 20px;
	padding: 10px;
	height: 75%;
}
.subtitle
{
	margin: 5px;
	margin-left: 10px;
	margin-top: 10px;
}

.wrapper
{
	background-color: green;
	width: 1530px;
	display: flex;
	flex-direction: row;
	height: 100%;
	border: 3px solid black;
	
}

.right
{
	background-color: orange;
	background-size: cover;
	margin: 7px;
	margin-top: 27px;
	margin-right:15px;
	margin-bottom: 27px;
	width: 1000px;
	border: 5px solid black;
	border-radius: 0px;
	overflow: scroll;
	padding: 10px;
}

.left
{
	background-color: orange;
	background-size: cover;
	border: 5px solid black;
	border-radius: 0px;
	margin: 7px;
	width: 400px;
	margin-top: 27px;
	margin-left: 27px;
	margin-bottom: 27px;
}
.center{
	background-image: url(../image/bg7.jpg);
	background-size: cover;
	border: 5px solid lightblue;
	border-radius: 15px;
	margin: 7px;
	width: 400px;
	margin-top: 27px;
	margin-left: 0px;
	margin-right: 27px;
	margin-bottom: 27px;
}
.cover
{
	background-color: lightgreen;
	margin: 5px;
	border: none;
	border: 5px solid black;
	
	border-radius: 7px;
}

.profile
{
	margin: 20px;
	margin-left: 80px;
	border: 5px solid black;
	border-radius: 100%;
}

input[type="submit"], input[type="button"]
{
	width: 70px;
	height: 30px;
	margin-left: 60px;
	border: 2px solid black;
	border-radius: 7px;
	background-color: pink;
	color: Black;
	font-style: bold;
	font-family: algerian;
	cursor: pointer;
}

input[type="submit"]:hover
{
	background-color: black;
	color: white;
	border: 2px solid white;
}

input[type="text"]
{
	border: none;
	margin: 10px;
	height: 40px;
	background-color: lightblue;
	width: 75%;
	border-radius: 0px;
	resize: both;
	overflow: auto;
	border: 3px solid black;
}
button
{
	width: 75px;
	height: 39px;
	margin-left: none;
	border: none;
	border-radius: 7px;
	background-color: #1c8adb;
	color: Black;
	font-style: bold;
	font-family: algerian;
	cursor: pointer;
	text-align: center;
}
#submit-button{
	margin-left: 10px;
}
ul
{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,0.1);
	margin: 7px;
}

li
{
	float: left;

}

li a
{
	display: block;
	color: #1c8adb;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-bottom: 5px solid black;
	margin: 2px;
}

li a:hover
{
	background-color: #111;
	border-bottom: 5px solid #1c8adb;
	color: white;
}

li a:focus
{
	background-color: #111;
	border-bottom: 5px solid #1c8adb;
	color: white;
}

img
{
	margin: 5px;
	border: 0px solid black;
	border-radius: 5px;
	cursor: pointer;
}

section
{
	margin: 10px;
}
.subtitle
{
	font-style: italic;
}
h1
{
	font-style: italic;
}
a:hover {
 
   cursor: pointer;
 
   background-color: yellow;
 
}
input[type="file"]
{
	height: 30px;
	opacity: 0.8;
	 font-size: 15px;
	 font-family: georgian;
    font-weight: 500;
    color: black;
    background-color: #1c8adb;
    display: inline-block;
	width: 200px;
}
.credits
{
	margin-left: 26px;
	margin-top: 30px;
	
}
marquee{
	height: 90%;
	scrolldelay: 15s;
}
.title55
{
	margin-left: 75px;
	font-family: algerian;
	font-size: 38px;
}